@import 'variables';

.header {
    position: relative;

    transition: none;
}

.header__nav-link {
    color: #5f5f5f;
    &:hover {
        color: $black;
    }
    @media (max-device-width: 630px) {
        &:hover {
            color: $white;
        }
    }
}

.switch-image {
    cursor: pointer;

    width: 16px;
    height: 16px;
}

@import 'blocks/portfolio/filter';
@import 'blocks/portfolio/gallery';
@import 'blocks/portfolio/load-more';