.contact {
    padding: 10rem 0;
    background-color: #f6f6f6;
}

.contact__content-title {
    font-size: 3.8rem;
    font-family: 'Playfair Display', sans-serif;

    margin-bottom: 4rem;

    line-height: 1;
}

.contact__content-text {
    font-size: 1.5rem;
    color: $gray;

    margin-bottom: 3.5rem;
}

.contact__content-contact {
    cursor: pointer;

    font-size: 1.5rem;
    font-weight: 500;
    color: $gray;

    strong {
        color: $black;
    }

    span {
        &:hover {
            text-decoration: underline;
        }
    }

    &:not(:first-child) {
        margin-top: 2.5rem;
    }
}

.contact__form {
    .row {
        &:not(:last-child) {
            margin-bottom: 3rem;
        }
    }
}

.contact__form-inputs {
    margin: 0 -15px;

    display: flex;

    &:last-child {
        @media (max-width: 1200px) {
            padding-left: 15px;
        }

        @media (max-width: 1201px) {
            margin-top: 2rem;
        }
    }

    @media (max-width: 768px) {
        margin: 0 auto;
    }
}

.contact__content {
    &:not(:first-child) {
        margin-top: 4rem;
    }

    @media (max-width: 768px) {
        text-align: center;
    }
}

.contact__inner {
    @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;
    }
}

.contacts__form-input {
    padding-left: 4rem;

    height: 48px;
    width: 320px;

    flex-grow: 1;

    outline: none;
    border: none;

    &::placeholder {
        font-size: 1.4rem;
        color: $light-gray;
    }
}

.contacts__comment {
    border: none;
    outline: none;
    
    padding: 2rem 4rem;
    
    min-height: 170px;
    max-height: 200px;
    flex-grow: 1;

    &::placeholder {
        font-size: 1.4rem;
        color: $light-gray;
    }
}

.contact__form-send {
    text-transform: uppercase;
    color: $white;

    background-color: $black;
    padding: 20px 35px;

    transition: background-color .2s linear;

    &:hover {
        background-color: #4A4A4A;
    }
}

.button-center {
    @media (max-width: 768px) {
        display: flex;
        justify-content: center;
    }
}